<app-nav-var></app-nav-var>
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header text-center">
          <h2>Nuevo Proveedor</h2>
        </div>
        <div class="card-body">
          <form (ngSubmit)="createNewSupplier()" enctype="multipart/form-data">
            <div class="form-group">
              <label for="cuit">Cuit:</label>
              <input type="number" class="form-control" id="cuit" [(ngModel)]="supplier.cuit" name="cuit" required>
            </div>
            <div class="form-group">
              <label for="nombre">Nombre:</label>
              <input type="text" class="form-control" id="businessName" [(ngModel)]="supplier.businessName" name="businessName" required>
            </div>
            <div class="form-group">
              <label for="item">Dirección:</label>
              <input type="text" class="form-control" id="address" [(ngModel)]="supplier.address" name="address" required>
            </div>
                <div class="form-group">
                  <label for="item">Teléfono:</label>
                  <input type="number" class="form-control" id="phoneNumber" [(ngModel)]="supplier.phoneNumber" name="phoneNumber" required>
                </div>
            <div class="d-flex justify-content-between mt-4">
              <button type="button" class="btn btn-secondary" style="width: 48%;" [routerLink]="'/admin-panel'">Atrás</button>
              <button type="button" class="btn btn-primary" style="width: 48%;" (click)="createNewSupplier()">Guardar
                Proveedor</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
