<app-nav-var></app-nav-var>
<div class="container mt-5 container infoUser">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-4 text-center">
      <ng-container *ngIf="imageUrl">
        <img [src]="imageUrl || defaultImage" alt="Imagen de perfil" class="rounded-circle profile-image"
          style="width: 160px; height: 150px;">
<!-- (click)="logout() -->
      </ng-container>
      <h3 class="mt-3">{{ userData.businessName }}</h3>
      <div>
        <button class="btn btn-danger mt-3" (click)="authService.logOut()">Cerrar Sesión</button>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Información del perfil</h4>
          <p class="card-text">Correo Electrónico: {{ userData.email }}</p>
          <p class="card-text">Cuit: {{ userData.cuit }}</p>
          <p class="card-text">Dirección: {{ userData.address }}</p>
          <!-- Agrega más campos según los datos de tu usuario -->
        </div>
      </div>
      <form (submit)="uploadProfileImage($event)" enctype="multipart/form-data" class="mt-3">
        <div class="mb-3">
          <label for="profileImage" class="form-label">Imagen de perfil:</label>
          <input type="file" class="form-control" id="profileImage" name="profileImage" accept="image/*"
            (change)="handleFileInput($event)">
        </div>
        
      </form>
        <div class="text-right"><button type="submit" class="btn btn-primary">Subir Imagen</button></div>
    </div>
  </div>

<div class="container footerDiv">
  <app-footer></app-footer>
</div>