<app-nav-var></app-nav-var>
<div>
  <img src="../../assets/quienes-somos/logo17.png" alt="Banner" class="pic-banner" />
</div>

<div class="cont-info " style="height: 100vh;">
  <div class="bg-light p-4 rounded " style="max-width: 80%;">
    <h2>¿Quiénes somos?</h2>
    <p class="mi-parrafo lead ">
      Información sobre MPS
      MPS surge debido a la necesidad de armar una PC Gamer con un determinado presupuesto. Dado que MercadoLibre posee
      una comision por venta por cada publicación, las casas de venta de hardware se ven obligadas a incrementar el
      precio de
      los productos, lo que termina perjudicando al comprador.

      Por ende, y con el objetivo de encontrar el mejor precio, se consultaba de forma manual diferentes páginas
      buscando así
      el mejor precio para cada uno de los componentes que se necesitaban para el ensamblado de nuestra PC.

      Esto resultaba bastante tedioso ya que diariamente se publicaban productos nuevos en cada una de las páginas y en
      otras
      se actualizaba el precio. De esta forma surgió la idea de realizar un buscador de hardware que integre la mayor
      cantidad
      de tiendas que posean venta de hardware de manera online.

      En HardGamers brindamos un servicio que realiza la búsqueda de productos de de hardware en la mayor cantidad de
      sitios
      posibles. Actualmente se realiza la búsqueda en mas de 50 tiendas diferentes con el fin de obtener el mejor
      precio.

      Nuestro compromiso es brindar una comparación de precios transparentes, con lo cual los productos siempre van a
      estar
      ordenados de acuerdo a su precio.
    </p>
  </div>
  <app-bottom-navbar></app-bottom-navbar>