<app-nav-var></app-nav-var>
<section id="productDetails" class="section-p1">
    <div class="single-product-image">
        <img src="../../../assets/featuredProducts/prod1.jpg" width="100%" id="MainImage" alt="">

    </div>

    <div class="single-product-details">
        <h6>Hardware / Motherboars</h6>
        <h4>Motherboard Asus</h4>
        <h2>$180000</h2>
        <input type="number" value="1">
        <button type="submit" class="btn btn-primary btn-block " >
            Agregar al carrito
        </button>
        <h4>Detalles del producto</h4>
        <span>
            Tarjeta madre Intel® H610 (LGA 1700) mic-ATX con DDR4, PCIe 4.0, puertos M.2 duales, Realtek 1Gb Ethernet, DisplayPort,
             HDMI®, D-Sub, puertos USB 3.2 Gen 1, SATA 6 Gbps, puerto COM, puerto RGB
        </span>
    </div>

</section>