.section-p1 {
    padding: 10px 80px;
}

#productDetails {
    display: flex;
    margin-top: 20px;
}

#productDetails .single-product-details {
    width: 50%;
}

#productDetails .single-product-details h4 {
    padding-bottom: 10px;
    font-size: x-large;
}

#productDetails .single-product-details h2 {
    font-size: 26px;
}

#productDetails .single-product-details input {
    width: 75px;
    height: 40px;
    padding-left: 10px ;
    font-size: 17px;
    margin-right: 10px;
}

#productDetails .single-product-details input :focus {
    outline: none;
}

#productDetails .single-product-details button {
    width: 150px;
}

#productDetails .single-product-image {
    width: 50%;
    margin-right: 50px;
}

.btn-delete {
    background-color:#E22F08; /* Color verde personalizado */
    color: white; /* Color del texto */
    margin-right: 20px;
  }


.single-product-image {
    text-align: center; /* Centra la imagen horizontalmente */
}

.single-product-image img { 
    max-width: 130%; /* Ajusta el ancho máximo de la imagen al contenedor */
    max-height: 300px; /* Ajusta la altura máxima de la imagen */
    display: block; /* Elimina cualquier espacio adicional debajo de la imagen */
    margin: 0 auto; /* Centra la imagen horizontalmente en el contenedor */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Agrega una sombra suave a la imagen */
    border: 1px solid #ccc; /* Agrega un borde alrededor de la imagen */
    border-radius: 5px; /* Agrega bordes redondeados a la imagen */
}