<app-nav-var></app-nav-var>
<div class="col-md-12 d-flex justify-content-end" *ngIf="isUserRoleDefined() && userRole === 'Administrador'" style="margin-top: 20px;">
    <button class="btn btn-primary mx-2" (click)="openEditModal()">Editar Producto</button>
    <button class="btn btn-delete" (click)="deleteProduct()"><i class="fa-solid fa-trash" style="color: #ffffff;"></i></button>
</div>
<section id="productDetails" class="section-p1" *ngIf="productDetails">
    <div class="single-product-image">
        <img [src]="productDetails.data.image" alt="Imagen del producto">

    </div>

    <div class="single-product-details " >
        <h6>Hardware / Motherboars</h6>
        <h4>{{ productDetails.data.desc }}</h4>
        <h2>$ {{ productDetails.data.price }}</h2>
        <input type="number" [(ngModel)]="productQuantity" min="1" max="{{ productStock }}">
        <button type="submit" class="btn btn-primary btn-block" (click)="addToCart(productQuantity)">
            Agregar al carrito
          </button>
        <h4>Detalles del producto</h4>
        <span>
            {{ productDetails.data.desc }}
        </span>
    </div>

</section>