<!-- Section: Design Block -->
<section class="background-radial-gradient overflow-hidden">

  <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
    <div class="row gx-lg-5 align-items-center mb-5">
  
      <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
        <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong d-none d-lg-block"></div>
        <div id="radius-shape-2" class="position-absolute shadow-5-strong d-none d-lg-block"></div>
        <div class="card bg-glass">
          <div class="card-body px-4 py-5 px-md-5">
            <form >
                
              <!-- Email input -->
              <div class="form-outline mb-4">
                <input type="email" id="form3Example3" class="form-control" />
                <label class="form-label" for="form3Example3">Ingrese su email</label>
              </div>

              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block mb-4 mx-auto d-block">
                Recuperar Contraseña
              </button>
              <div class="container text-center">
                <p> <a routerLink="/login">Volver al login</a></p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->