<div class="dropdown show">
  <a class="btn btn-light dropdown-toggle styles" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown">
    Categorías
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="color: #000000;">
    <a class="dropdown-item" (click)="selectCategory('Perifericos')">Periféricos</a>
    <a class="dropdown-item" (click)="selectCategory('Componentes')">Componentes</a>
    <a class="dropdown-item" (click)="selectCategory('Impresoras')">Impresoras</a>
  </div>
</div>