
<header>
<a href="#">
    <img class="logo" src="\assets\prodBase.jpg" alt="logo">
</a>
<button class="abrir-menu" (click)="toggleNav()">
    <img class="hamburguesa" src="\assets\Hamburguesa.png" alt="Abrir" />
</button>
<nav class="nav" id="nav" [class.visible]="isNavOpen">
    <button type="button" class="close btn-outline-dark close" aria-label="Cerrar" (click)="toggleNav()">
        <span aria-hidden="true">&times;</span>
    </button>
    <ul class="nav-list">
        <li>
            <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li>
            <a class="nav-link active" aria-current="page" href="/productos">Productos</a>
        </li>
        <li>
            <a class="nav-link active" *ngIf="isUserRoleDefined() && userRole === 'Administrador'" aria-current="page"
            href="/admin-panel">Admin Panel</a>
        </li>
        <li>
            <a class="nav-link active" href="/contacto">Contacto</a>
        </li>
        <li>
            <app-down-comp *ngIf="isProductosRoute()"></app-down-comp>
            <app-down-comp *ngIf="isStockRoute()"></app-down-comp>
        </li>
        <li class="col-auto d-flex"*ngIf="!isOrdersRoute() && !isStockRoute()" >
            <input class="busqueda form-control " type="text" id="searchProduct" [(ngModel)]="searchTerm" (keyup.enter)="searchProducts()"
                placeholder="Buscar producto">
            <form class="form-inline" role="search">
                <button class="lupa btn-light d-flex align-items-center" type="submit" (click)="searchProducts()">
                    <i class="lupita fa-solid fa-magnifying-glass" style="color: #000000;"></i>
                </button>
            </form>
        </li>
        <li class="col-auto d-flex" *ngIf="isStockRoute() ">
            <input class="busqueda form-control " type="text" id="searchProduct" [(ngModel)]="searchTerm" (keyup.enter)="searchProducts()"
                placeholder="Buscar producto">
            <form class="form-inline" role="search">
                <button class="lupa btn-light d-flex align-items-center" type="submit" (click)="searchProducts()">
                    <i class="lupita fa-solid fa-magnifying-glass" style="color: #000000;"></i>
                </button>
            </form>
        </li>
        <li class="col-auto d-flex" *ngIf="isOrdersRoute()">
            <input class="busqueda form-control " type="text" id="searchOrder" [(ngModel)]="searchTerm"
                (keyup.enter)="searchOrders()" placeholder="Filtrar por razón social">
            <form class="form-inline" role="search">
                <button class="lupa btn-light d-flex align-items-center" type="submit" (click)="searchOrders()">
                    <i class="lupita fa-solid fa-magnifying-glass" style="color: #000000;"></i>
                </button>
            </form>
        </li>
        <li>
            <button class="cart-btn btn-light d-flex align-items-center" routerLink="/cart">
                <i class="fa-solid fa-cart-shopping fa-bounce" style="color: #000000;"></i>
                <span class="number badge rounded-pill bg-primary">{{ productsInCart }}</span>
            </button>
        </li>
        <li>
            <ng-container *ngIf="!authService.loggedIn(); else loggedIn">
                <li class="nav-item">
                    <a class="nav-link active d-flex align-items-center" aria-current="page" routerLink="/login">
                        <i class="fa-solid fa-user-astronaut" style="color: #000000;"></i>
                    </a>
                </li>
            </ng-container>
            <ng-template #loggedIn>
                <li class="nav-item">
                    <a class="nav-link active d-flex align-items-center" aria-current="page" routerLink="/perfilUsuario">
                        <i class="astronaut fa-solid fa-user-astronaut" style="color: #000000;"></i>
                    </a>
                </li>
            </ng-template>
        </li>
    </ul>                   
</nav>
</header>