<app-nav-var></app-nav-var>
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-8 col-sm-10 mx-auto">
      <div class="card mt-5">
        <div class="card-header text-center">
          <h2>Panel de Administrador</h2>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6 mb-3 text-center">
              <button class="btn btn-outline-dark btn-block" style="width: 150px;"><a class="nav-link active" aria-current="page" href="/nuevoProducto">Alta Productos</a></button>
            </div>
            <div class="col-md-6 mb-3 text-center">
              <button class="btn btn-outline-dark btn-block" style="width: 150px;"><a class="nav-link active" aria-current="page" href="/alta-cliente">Alta Clientes</a></button>
            </div>
            <div class="col-md-6 text-center">
              <button class="btn btn-outline-dark btn-block" style="width: 150px;">Alta Proveedores</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>