<app-nav-var></app-nav-var>
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-8 col-sm-10 mx-auto">
      <div class="card mt-5">
        <div class="card-header text-center">
          <h2>Panel de Administrador</h2>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="pannelBttn">
              <button class="btn btn-primary botonNormal" ><a class="nav-link active" aria-current="page" href="/nuevo-producto">Alta Productos</a></button>
            </div>
            <div class="pannelBttn">
              <button class="btn btn-secondary botonNormal"><a class="nav-link active" aria-current="page" href="/ingreso-stock">Ingresar Stock</a></button>
            </div>
            <div class="pannelBttn">
              <button class="btn btn-success botonNormal"><a class="nav-link active" aria-current="page" href="/alta-usuario">Alta Usuarios</a></button>
            </div>
            <div class="pannelBttn">
              <button class="btn btn-danger botonNormal" ><a class="nav-link active" aria-current="page" href="/alta-proveedor">Alta Proveedores</a></button>
            </div>
            <div class="pannelBttn">
              <button class="btn btn-secondary botonNormal"><a class="nav-link active" aria-current="page" href="/ud-proveedor">Modificación Proveedor</a></button>
            </div>
            <div class="pannelBttn">
              <button class="btn btn-warning botonNormal"><a class="nav-link active" aria-current="page" href="/pedidos">Pedidos</a></button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>